#wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
#pokemon {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 20pt;
    width: fit-content;
    height: 50px;
    border: solid black 5px;
    border-radius: 5px;
}